table {
  font-family: arial, sans-serif;
  /* border-collapse: collapse; */
  width: 150%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

img {
  width: 100px;
  height: 100px;
}

img.img {
  width: 40px;
  height: 40px;
}

li.nav-item {
  padding: 0px;
  width: 200px;
}
a.nav-link {
  width: 200px;
}
